berry/www/docs/RasPyWeb.chw
berry/www/docs/html/
_vti_cnf/
_vti_pvt/
RemoteSystemsTempFiles
.metadata
*.suo
*.json
*.pickle
*desktop.ini
*.pyc
*.bak
*.wav
*.zip
*.rexpfd
RasPySrv/
berry/displaytest.py
berry/www/docs/PressureMonitor/PressureMonitor_Schaltplan.pdf
berry/www/docs/PressureMonitor/PressureMonitor_Steckplatine.pdf
PressureMonitor.fzz
