berry/www/docs/RasPyWeb.chw
berry/www/docs/html/
_vti_cnf/
_vti_pvt/
*.suo
berry/config.json
berry/startpage.pickle
berry/desktop.ini
berry/www/desktop.ini
desktop.ini
.metadata
RemoteSystemsTempFiles